@import '~@angular/material/theming';
// Theme configuration
$ev-app-primary: mat-palette($mat-indigo, 800, 300, 900);
$ev-app-accent: mat-palette($mat-blue, A200, A100, A400);
$ev-app-warn: mat-palette($mat-deep-orange, A200);
$ev-theme: mat-light-theme($ev-app-primary, $ev-app-accent, $ev-app-warn);

$primary: mat-color($ev-app-primary);
$accent: mat-color($ev-app-accent);
$warn: mat-color($ev-app-warn);

$foreground: map-get($ev-theme, foreground);
$background: map-get($ev-theme, background);