@import '../../../material.scss';
.user-card {
  min-height: 20rem;
  margin: 5px auto;
  border-radius: 3%;

  &:last-child {
    margin-left: 15px;
  }

  figure {
    margin: 0 auto;

    figcaption {
      font-size: 0.7em;
      color: #949090;
      text-align: center;
      font-style: italic;
    }
  }

  .info-card {
    margin: -16px;
    margin-top: 15px;
    padding: 5px 10px;

    &.gray {
      background-color: #efefef;
    }

    &.rounded-bottom {
      border-bottom-left-radius: 4%;
      border-bottom-right-radius: 4%;
    }

    p {
      font-size: 1em;
      color: #525252;
      margin: 5px auto;
    }
  }

  .back-card {
    display: none;
  }

  &:hover {
    .front-card {
      display: none;
    }

    .back-card {
      display: block;
    }
  }
}

mat-card-subtitle {
  font-size: 1em;
}

mat-card-title {
  color: $primary;
  font-size: 1.5em;
}
